In [1]:
nums = [1, 2, 3, 4, 5]
for num in nums:
    print(num)

print('\n')


# range()
for num in range(10):
    print(num)

1
2
3
4
5


0
1
2
3
4
5
6
7
8
9

In [2]:
nums = [1, 2, -1, 4, -5, 5, 2, -9]
for num in nums:
    if num < 0:
        continue
    print(num)

print('\n')

game_plays = ['stage1', 'stage2', 'stage3', 'gameover', 'stage4', 'stage5']
for play in game_plays:
    if play == 'gameover':
        print('Game is Over...')
        break
    print(play + ' is complete.')

1
2
4
5
2


stage1 is complete.
stage2 is complete.
stage3 is complete.
Game is Over...

In [3]:
one_to_ten = [i**i for i in range(10)]
print(one_to_ten)


hotspurs = [['손흥민', 'A+'], ['해리 케인', 'F'], ['탕기 은돔벨레', 'F'], ['델리 알리', 'B'], ['루카스 모우라', 'B+'], ['이메르송', 'D']]
poors = [player[0] for player in hotspurs if player[1] == 'F']
print('감독님한테 혼날 사람')
print(poors)

[1, 1, 4, 27, 256, 3125, 46656, 823543, 16777216, 387420489]
감독님한테 혼날 사람
['해리 케인', '탕기 은돔벨레']

In [4]:
one_to_nine = [i + 1 for i in range(9)]
for i in one_to_nine:
    for j in one_to_nine:
        print("%d X %d = %d" % (i, j, i*j))

1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
1 X 5 = 5
1 X 6 = 6
1 X 7 = 7
1 X 8 = 8
1 X 9 = 9
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [ ]:
hungry = True
foods_on_table = ['참치김밥', '순대', '로제떡볶이', '김말이', '오뎅', '단무지', '고로케']
foods_num = 7
ate_num = 0

while ate_num < 4:
    print(foods_on_table[ate_num] + ' 냠냠')
    ate_num += 1

print('배부르다.. 여기까지')