In [1]:
def my_function(x):
    return x+1

y = 2
result = my_function(y)
print(result)

x = 1
class my_class:
    def my_method(self):
        return x + 1

cls = my_class()

print(cls.my_method())

3
2

In [2]:
def introduce_myself(name, birthyear, city):
    print("Hello everyone, my name is %s, I was born in %d, \
        and I live in %s." % (name, birthyear, city))

introduce_myself("GiHyeon Ju", 1998, "Seoul")

Hello everyone, my name is GiHyeon Ju, I was born in 1998,         and I live in Seoul.

In [3]:
def check_leap_year(year):
    if year % 4 == 0:
        return "%d is a leap year." % (year)
    else:
        return "%d is not a leap year." % (year)

print(check_leap_year(2020))

2020 is a leap year.

In [4]:
def square_point(x, y, z):
    x_squared = x ** 2
    y_squared = y ** 2
    z_squared = z ** 2
    return x_squared, y_squared, z_squared

three_squared, four_squared, five_squared = square_point(3, 4, 5)
print(three_squared, four_squared, five_squared)

9 16 25

In [5]:
a = "Hello"

def prints_a():
    print(a)

prints_a()

Hello

In [6]:
a = 5 # global var.

def f1():
    g = 3 # local var.
    print(g)

f1()

3

In [ ]:
def findvolume(height=1, width=1, depth=1):
    print("Height = " + str(height)) 
    print("Width = " + str(width))
    print("Depth = " + str(depth))

findvolume(1, 2, 3)
findvolume(depth=3, width=2, height=1)